<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Adminstrator</title>
    <!-- Google Fonts -->
    <link href="~/Areas/AdminControl/Css/animate.css" rel="stylesheet" />
    <link href="~/Areas/AdminControl/Css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <div id="loadingpage">

    </div>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo"><span>Hello Adminstrator</span></span></h1>
        </div>
        <form class="modal-content animate">
            <div class="login-box animated fadeInUp">
                <div class="box-header">
                    <h2>Log In</h2>
                </div>
                <div class="error-login-text">
                </div>
                <label for="UseName">Username</label>
                <br />
                <input type="text" placeholder="Enter Username Admin" name="UseName">
                <br />
                <label for="password">Password</label>
                <br />
                <input type="password" placeholder="Enter Password" name="PassWord">
                <br />
                <button type="button" id="loginAdmin">Sign In</button>
                <br />
                <a href="#"><p class="small">Forgot your password?</p></a>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('input[name=PassWord]').keypress(function (e) {
            if (e.which == 13) {//Enter key pressed
                LoginAdmin();
            }
        });

        $("#loginAdmin").on("click", function () {
            LoginAdmin();
        });

        $('#logo').addClass('animated fadeInDown');
        $("input:text:visible:first").focus();
    });

    function LoginAdmin() {
        var UseName = $("input[name=UseName]").val();
        var UrlIndex = '@Url.Action("/Index")';
        var PassWord = $("input[name=PassWord]").val();
        if (UseName != "" && PassWord != "") {
            $('#loadingpage').addClass('loadingpage');

            setTimeout(function () {
                $.ajax({
                    url: "@Url.Action("LoginAdmin", "Admin")",
                    type: "POST",
                    data: { PassWord: PassWord, UseName: UseName },
                    success: function (data) {
                        if (data.success == true) {
                            $('#loadingpage').removeClass('loadingpage');
                            location.replace(UrlIndex);
                        }
                        else {
                            $('#loadingpage').removeClass('loadingpage');
                            $('.error-login-text').html('<label style="color:red; text-align:center;"><b>Username or password is not exit</b></label><br />');
                            $("input[name=PassWord]").val('');
                        }
                    }, error: function (error) {
                        $('#loadingpage').removeClass('loadingpage');
                        $('.error-login-text').html('<label style="color:red; text-align:center;"><b>Username or password is not exit</b></label><br />');
                        $("input[name=PassWord]").val('');
                    }
                });
            }, 1000);

        }
        else {
            $('.error-login-text').html('<label style="color:red; text-align:center;"><b>Please input value</b></label><br />');
        }


    }

    $('#username').focus(function () {
        $('label[for="UseName"]').addClass('selected');
    });

    $('#username').blur(function () {
        $('label[for="UseName"]').removeClass('selected');
    });

    $('#password').focus(function () {
        $('label[for="password"]').addClass('selected');
    });

    $('#password').blur(function () {
        $('label[for="password"]').removeClass('selected');
    });

</script>