@model  Account

@{
    bool? success = ViewBag.Success;
}
<!-- The Modal -->
<div id="TheModal" class="modal hidden" data-success="@(success.HasValue ? success.Value : false)">
    @using (Ajax.BeginForm("LoginAccount", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "result" }, new { @class = "modal-content animate" }))
    {
        @Html.AntiForgeryToken()
        <div class="imgcontainer">
            <span class="close CloseModal" title="Close Modal">&times;</span>
            <img src="~/images/user.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <div class="error-login-text">
                
            </div>

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="UseName" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="PassWord" required>

            <button type="button" id="login">Login</button>
            <button type="submit">Sign In</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    }
</div>
<script>
    $(function () {

        $("#login").on("click", function () {
            var UseName = $("input[name=UseName]").val();
            var PassWord = $("input[name=PassWord]").val();
            debugger;
            $.ajax({
                url: "@Url.Action("LoginAccount", "Login")",
                type: "POST",
                data: { PassWord: PassWord, UseName: UseName },
                success: function (data) {
                    location.reload();
                }, error: function (error) {
                    $('.error-login-text').html('<label style="color:red; text-align:center; margin-left: 35%;"><b>Username or password is not exit</b></label><br />');
                    $("input[name=PassWord]").val('');
                }
            });
        });

        var success = $("#TheModal").data("success");
        if (success == false || success == "false") {
            ActivePopup();
        } else
        {
            //window.location.href = 'http://localhost:49951/home/index';
        }

        function ActivePopup() {
            debugger;
            $(".OpenModal").on("click",function () {
                $('#TheModal').removeClass('hidden');
            });
        }

    })
</script>